PORT=3000
VNP_TMN_CODE=YOUR_SANDBOX_TMN_CODE
VNP_HASH_SECRET=YOUR_SANDBOX_HASH_SECRET
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=https://your-ngrok-domain.ngrok-free.app/return
VNP_IPN_URL=https://your-ngrok-domain.ngrok-free.app/ipn
